{% extends '::base.html.twig' %}
{% block body %}
    <br>
    <a class="btn btn-success" href="{{ path('new_film') }}">Добавить фильм</a>
    <h3>Список фильмов</h3>
    {% if films|length > 0 %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название фильма</th>
                <th>Год выпуска</th>
                <th>Опубликованый?</th>
                <th>Действия</th>
            </tr>
        </thead>

            <tbody class="table-striped">
            {% for film in films %}
                <tr>
                    <td>{{ film.id }}</td>
                    <td>{{ film.name }}</td>
                    <td>{{ film.year }}</td>
                    <td>
                        {% if film.isActive == true %}
                            <span class="label label-success">Да</span>
                        {% else %}
                            <span class="label label-danger">Нет</span>
                        {% endif %}
                    </td>
                    <td>
                        <a class="label label-primary" href="{{ path('edit_film', {'id': film.id}) }}">Edit</a>
                        <a class="label label-danger" href="{{ path('delete_film', {'id': film.id}) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
    </table>
    {% else %}
        Сейчас нет активных фильмов
    {% endif %}
{% endblock %}