{% extends '::base.html.twig' %}
{% block body %}
    <h3>Список фильмов</h3>
    {% if films|length > 0 %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Название фильма</th>
                <th>Год выпуска</th>
            </tr>
        </thead>
            <tbody class="table-striped">
            {% for film in films %}
                <tr>
                    <td>{{ film.name }}</td>
                    <td>{{ film.year }}</td>
                </tr>
            {% endfor %}
            </tbody>
    </table>
    {% else %}
        Сейчас нет активных фильмов
    {% endif %}
{% endblock %}